@tailwind base;
@tailwind components;
@tailwind utilities;

html, body{
  width: 100%;
  height: 100%;
  padding: 0px;
  margin: 0px;
  background-color: #fcfcfd;
  font-size: 16px;
  font-family: Roboto,Helvetica Neue,Helvetica,Arial,sans-serif;
}

:root{
  --primary-bg-color: #12151b;
  --secondary-bg-color: #232a35;
  --pink-color: #e60278;
  --light-blue-color: #1772eb;
  --dark-blue-color: #082e60;
}
 
button{
  border-radius: 4px;
}

main{
  padding: 10px 0px;
  min-height: 40vh;
}

.right-notification button{
  color: white;
}

.postcard{
  box-shadow: 0 1px 2px #12151b40;
}

.ad a{
  color: #e60278;
  font-weight: 600;
  font-size: 14px;
}