@tailwind base;
@tailwind components;
@tailwind utilities;

html, body{
  width: 100%;
  height: 100%;
  padding: 0px;
  margin: 0px;
  font-size: 16px;
  font-family: Roboto,Helvetica Neue,Helvetica,Arial,sans-serif;
}

:root{
  --primary-bg-color: #12151b;
  --secondary-bg-color: #232a35;
  --pink-color: #e60278;
  --light-blue-color: #1772eb;
  --dark-blue-color: #082e60;
}

button{
  border-radius: 4px;
}

